#form-group
  label(for='inputName') Medication name:
  input#inputName.form-control(name="name", type ='text', placeholder='Name', required='', data-parsley-maxlength='20', data-parsley-maxlength-message="This field can't have more than 20 characters", value=appointment.name)
#form-group
  label(for='inputPhoneNumber') Phone number:
  input#inputPhoneNumber.form-control(name="phoneNumber", type ='number', placeholder='Phone Number', required='', value=appointment.phoneNumber)
#form-group
  label(for='time') Medication date:
  input#inputDate.form-control(name="time", type ='text', placeholder='Pick a Date', required='', value=moment(appointment.time).format('MM-DD-YYYY hh:mma'))
#form-group
  label(for='selectNotification') Notification time:
  select#selectDelta.form-control(name="notification", required='', value=appointment.notification)
    option(selected=appointment.notification == '', value='') Select a time
    option(selected=appointment.notification == '15', value='15') 15 Minutes
    option(selected=appointment.notification == '30', value='30') 30 Minutes
    option(selected=appointment.notification == '60', value='60') 1 hour
#form-group
  label(for='selectMeal') When to take the medication?
  select#selectDelta.form-control(name="mealTime", required='', value=appointment.mealTime)
    option(selected=appointment.notification == '', value='') Select a medication meal time
    option(selected=appointment.notification == 'Pre-Meal', value='Pre-Meal') Pre-Meal
    option(selected=appointment.notification == 'Post-Meal', value='Post-Meal') Post-Meal
#form-group
  label(for='selectTimeZone')  Timezone:
  select#selectTimeZone.form-control(name='timeZone', required='', value=appointment.timeZone)
    each zone in timeZones
      option()
      option(selected=zone == appointment.timeZone, value= zone) !{zone}
#form-group
  label(for='inputNote') Note:
  textarea#inputNote.form-control(name="note", type ='text', placeholder='Note', required='', value=appointment.note)