#form-group
  label(for='inputName') Medication name:
  select.selectDelta.form-control(name="name", required='', value=appointment.name)
    each meds in dropdownVals
      option #{meds}
#form-group
  label(for='time') Medication date:
  input#inputDate.form-control(name="time", type ='text', placeholder='Pick a Date', required='', value=moment(appointment.time).format('MM-DD-YYYY hh:mma'))
#form-group
  label(for='selectNotification') Notification time:
  select#selectDelta.form-control(name="notification", required='', value=appointment.notification)
    option(selected=appointment.notification == '', value='') Select a time
    option(selected=appointment.notification == '15', value='15') 15 Minutes
    option(selected=appointment.notification == '30', value='30') 30 Minutes
    option(selected=appointment.notification == '60', value='60') 1 hour
#form-group
  label(for='selectMeal') When to take the medication?
  select#selectDelta.form-control(name="mealTime", required='', value=appointment.mealTime)
    option(selected=appointment.notification == '', value='') Select a medication meal time
    option(selected=appointment.notification == 'Before Meal', value='Before Meal') Before Meal
    option(selected=appointment.notification == 'After Meal', value='After Meal') After Meal
#form-group
  label(for='inputNote') Note:
  textarea#inputNote.form-control(name="note", type ='text', placeholder='Note', value=appointment.note)
